*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

h1 {
    font-family: 'Arsenal', sans-serif;
    color: #F6F6F6;
    /* text-transform: lowercase; */
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* text-shadow: 2px 1px grey; */
    font-weight: bold;
    background: #333333;
}

.nav-menu {
    font-family: 'Arsenal', sans-serif;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #990100;
}

nav a {
    color: #F6F6F6;
    font-size: 18px;
}

.header-two {
    font-family: 'Arsenal', sans-serif;
    color: #2A2829;
    font-size: 40px;
    margin-bottom: 40px;
}

main {
    font-family: 'Arsenal', sans-serif;
    color: #2A2829;
}

h3 {
    margin-top: 5px;
    margin-bottom: 4px;
    text-align: center;
}

.buy-button {
    padding: 3px 5px 3px 5px;
    margin-left: 10px;
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    background: #333333;
    color: #F6F6F6;
}
